/* Aggiungi queste regole CSS per la pagina home */

body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container_home {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    background-color: #333;
    border-radius: 4px;
  }
  
  p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6; /* Aggiunto per migliorare la leggibilità */
    color: black;
  }
  
  a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
  }
  
  a:hover {
    background-color: #555;
    border-radius: 4px;
  }


  