<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Hstyle.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
            <div class="container_home">
                <h1>Home Page</h1>
                {%if username%}
                <p>Ciao {{username}}! Sei hai effettuato il login,torna alla pagina  <a href="{{ url_for('index')}}">principale</a> ,oppure fai <a href="{{ url_for('logout')}}">Logout</a></p>
                {%else%}
                <p>Ciao! Non sei loggato su questa pagina, perfavore fai <a href="{{ url_for('login') }}">Login</a> per accedere alla home page o
                <a href="{{ url_for('register') }}">Registrati</a> per creare un account</p>
                {%endif%}
            </div>
    </div>
</body>
</html>