<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Login</title>
</head>
<body>
    <div class="container">
      <div class="container_login">
          <h1 id="titolo">Login</h1>
          {%if error%}
          <p style="color:red">{{error}}</p>
          {%endif%}
          <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required placeholder="Enter your username"><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required placeholder="Enter your password"><br><br>
            <input type="submit" value="Login">
          </form>
      </div>
    </div>
</body>
</html>