body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container_register {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #titolo {
    color: #333333;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    font-size: 18px;
    color: #333333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #333;
  }
  
  p {
    margin-top: 10px;
  }
  