Server/server.key
Server/server.crt
Server/server.csr
Server/turbiDB.sql
Server/__pycache__
Raspi/__pycache__
Server/reminder.txt
Raspi/schedule.py
Raspi/__init__.py
Raspi/vecchia_versione
Server/values
